name: basic-tests

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer:2

      - name: Install dependencies
        run: composer update

      - name: Run check coding conventions
        run: composer test

      - name: Run unit tests
        run: composer unittest
